.btn-menu-cmd {
  margin-bottom: 10px;
}

.main-menu-container {
  text-align: center;
}

.align-right {
  text-align: right;
}

.glbl-heading {
  font-size: larger;
  margin-bottom: 15px;
  font-weight: bold;
}
